*{
    position: relative;
    left: 10px;
    top: 10px;
}
input[type=text] {
  position: relative;
  width: 100%;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}


.log{
  background-color: #013f03;
}